[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim.git
